VITE_OIDC_ISSUER=https://the-issuer.url
VITE_OIDC_CLIENT_ID=some_string
VITE_OIDC_CLIENT_SECRET=some_string
VITE_OIDC_AUDIENCE=some_string
VITE_IMGPROXY_PUBLIC_URL=http://localhost:5001
VITE_IMGPROXY_SOURCE_BASE_URL=http://kong:8000
